*,*::before,*::after{
    box-sizing:border-box ;
}

body{
    background:#F1F1F1;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
}

a{
    color: inherit;
    text-decoration: none;
}
.topbar{
    background: #2C3E50 ;
    color:#FFF;
}



.topbar-logo{
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 11px 0;
    
}

.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
}
.topbar-nav a{
    display: inline-block;
    margin: 0 12px;
    color: rgba(255, 255, 255, 0.67);
    transition: color .3s;
}

.topbar-nav a:hover::before,
.topbar-nav a.active::before
{
    
    opacity: 1;
}

.container{
    padding: 0 15px;
    max-width: 1080px; 
    margin-left:  auto;
    margin-right:  auto;
}   



.wrapper{
    margin-top: 20px ;
    margin-bottom: 20px ;
}
.sidebar{
    display: flex;
    flex-wrap:wrap ;
    margin-bottom: 20px;
}

.main {
    margin-bottom: 20px;
}

.profil{
    display: none;
}

.sidebar a {
    display: block;
    width: 50%;
    
    padding: 0.6em 0;
    transition:  .3s;
    border: solid 1px transparent;
    padding-left: 10px;
}

.sidebar a::before{
    content: '';
    display: inline-block;
    width: 11px;
    height: 9px;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 20px;
    opacity: .67;
    background: url(images/Home.svg) center center / contain no-repeat;
    transition: opacity .3s;

}

.sidebar .sidebar-messages::before{
    background-image: url('images/messages.png  ');
}

.sidebar .sidebar-evenements::before{
    background-image: url('images/events.png');
}

.sidebar .sidebar-groupes::before{
    background-image: url('images/groups.png ');
}

.sidebar .sidebar-amis::before{
    background-image: url('images/friends.png  ');
}

.sidebar a:hover,
.sidebar a.active {
    color: #000;
}

.sidebar a:hover,
.sidebar a.active {
    color: #000;
    border: solid 1px #DBDBDB;
    background: #FFF;
    border-radius: 3px;
    font-weight: bold;
}

.card{
    border: solid 1px #DBDBDB;
    background: #FFF;
    border-radius: 3px;
    margin-bottom: 15px ;

}

.card:last-child{
    margin-bottom: 0 ;
}

.card-avatar{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 10px;
    border-radius: 50%;
}


.card-header{
    padding:10px;
    position: relative;
}
.card-header-avatar{
    padding-left: 65px;
}
.card-title{
    font-weight: bold;
    color: #000;
    font-size: 18px;
    margin:5px  0;
    font-size: 18px;
}

.card-date{
    color:rgba(0, 0, 0, 0.38);
    font-size: 12px;
}



.card-body p:first-child{
    margin-top: 0;
}

.card-body{
    padding: 0px 10px 30px 10px;
}

.card-body a{
    color: #34AAFF;
    text-decoration: underline;
}

.card-body .fullwidth{

    margin:'0 -10px';
    width: 100% ;
    display: block;
}

.card-body p:last-child{
    margin-bottom: 0;
}

.card-footer{
    border-top: solid 1px #DBDBDB;
    background: #FBFBFB ;
    display: flex;
    padding: 0 10px;
    font-size: 12px;
    color:#DBDBDB;
    justify-content: space-between;
}



.card-footer a:hover{
    text-decoration: underline;
}

.card-like::before,
.card-comments::before{
    content:'';
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    height: 20px;
    background: url(images/like.png) center center /  20px  18px no-repeat;
}

.card-comments::before{
    background: url(images/comments.png) center center /  18px  17px no-repeat;

}



@media only screen and (min-width:520px){
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }

    .topbar-logo , .topbar-nav{
        padding: 0;
    }

    .topbar-nav a{
        margin: 0 20px;
    }
}


.sidebar-title{
    margin-top: 30px;
    margin-bottom: 18px;
    color:#000;
    font-size: 15px;
    font-weight: bold;
}

.friend{
    margin: 14px 0;
    display: flex;
}

.friend-body{
    display: flex;
    flex-direction: column;
}

.friend-avatar{
    width: 73px;
    height: 73px;
    flex:none;
    margin-right: 10px;
}

.friend-name{
    display: block;
    font-weight: bold;
    color:#000;
    font-size: 15px ;
}

.friend-add{
    font-size: 12px;
    color:#000;
    margin-top: auto;
    
}

.friend-add::before{
    content:'';
    display: inline-block;
    transform: translateY(-1);
    width: 18px;
    height: 13px;
    background: center center / 15px 13px no-repeat url(images/user_add.png);
    vertical-align: middle;
    margin-right: 5px;
}






.sidebar-title::after{
    content:'';
    display: block;
    height: 1px;
    width: 100%;
    margin-top: 4px;
    background: #000;
}

@media only screen and (min-width : 950px){
    .wrapper{
        display: flex;
    }

    .profil{
        display: block;
    }

    .sidebar{
        display: block;
        width: 180px;
        flex:none;
    }

    .sidebar a{
        width: 100%;
    }
    .aside{
        flex:none;
        width: 310px;
    }
    .main{
            width: 100%;
            margin-left: 30px;
            margin-right: 30px;
    }
}